{% extends 'layout.html' %}
{% load static %}
{% block page_title %}
Hakkımızda
{% endblock page_title %}
{% block content %}
<style>
    .block-item {
        width: 50%;
        padding: 20px;
    }
    .facebook {
        background: #3a589e;
        color: #fff;
    }

    .twitter {
        background: #429cd6;
        color: #fff;
    }

    .google {
        background: #d34836;
        color: #fff;
    }

    .ortala {
        margin-top: 3%;
        margin-left: 25%;
        height: 20%;
        width: 50%;
        
    }
    .ortala_s {
        margin-top: 3%;
        margin-left: 33%;
        
    }
</style>

<body>
    <div class="block-item ortala_s">
        <a href="https://www.facebook.com/aaavf/">
            <button class="btn facebook" data-provider="facebook"><i
                    class="fab fa-facebook-f"></i><span>Facebook</span></button></a>
        <a href="https://twitter.com/sargin_alper">
            <button class="btn twitter" data-provider="twitter"><i
                    class="fab fa-twitter"></i><span>Twitter</span></button></a>
        <a href="https://www.instagram.com/alper_sargn/">
            <button class="btn google" data-provider="google"><i
                    class="fab fa-instagram"></i><span>İnstagram</span></button></a>

        <a href="https://www.linkedin.com/in/alper-sarg%C4%B1n-b14125201/">
            <button class="btn twitter" data-provider="twitter"><i
                    class="fab fa-linkedin-in"></i><span>LinkedIn</span></button></a>
    </div>

    <div className="form" class="ortala">
        <div>
            <img class="img-fluid rounded-start" src="{% static 'courses/img/5.jpg' %}">
        </div>
    </div>
</body>

{% endblock content %}
